@model Association

@{
    var Category = ViewBag.category;
}
@{
    var Products = ViewBag.Products;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Details</title>
</head>

<body>
    <div class="text-center">
        <h2>@Category.Name</h2>

        <div class="d-flex">
            <div class="col-6">
                <h4>Products</h4>
                @foreach (var item in Category.AllAssociations)
                {
                    <div class="d-flex justify-content-around">
                        <div class="col-6">
                    <p class="text-primary">@item.product.Name</p>
                    </div>
                        <form asp-action="DestroyAssocC" method="post" asp-route-id = "@Category.CategoryId">
                        <input type="hidden" value="@item.product.ProductId" asp-for="@Model.ProductId">
                        <input type="hidden" value="@Category.CategoryId" asp-for="@Model.CategoryId">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                    </div>
                }
            </div>
            <div class="col-5">
                <h4 class="mb-3">Add Product</h4>
                <form method="post" asp-action="AddCategoryProduct" asp-route-id="@Category.CategoryId">
                    <select class="form-control" asp-for="ProductId">
                        @foreach (var item in Products)
                        {
                            <option value="@item.ProductId">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                    <input type="submit" class="btn btn-success mt-3" value="Add Item">
                </form>
            </div>
        </div>
    </div>
</body>

</html>