@model DataOne
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="path/to/purchase.js"></script>

<div>
    <div class="col-8">
        <img class="card-img-top" src="~/uploads/@Model.Product.ImageFileName" alt="Card image cap">
        <h1>@Model.Product.Name</h1>
        <h3>Price: @Model.Product.Price</h3>
        <p>@Model.Product.Description</p>
    </div>
    <div class="col-4">
        <form asp-action="Purchase" method="post" asp-route-id="@Model.Product.ProductId" id="purchaseForm">
            <input type="hidden" value="@Model.Product.ProductId" asp-for="@Model.Purchase.ProductId">
            <input type="hidden" value="@HttpContextAccessor.HttpContext.Session.GetInt32("UserId")" asp-for="@Model.Purchase.UserId">
            <div class="form-group">
                <label asp-for="@Model.Purchase.Quantity"></label>
                <input asp-for="@Model.Purchase.Quantity" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" min="1">
                <span asp-validation-for="@Model.Purchase.Quantity" class="text-danger"></span>
            </div>
            <button type="button" class="btn btn-success" onclick="confirmPurchase()">Buy</button>
        </form>
    </div>

</div>

