@model UserReg

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    <h1 class="text-center">Account Details</h1>
    <div class="col-6">
    <h2>Name : @Model.FirstName @Model.LastName </h2>
    <p>Points : @Model.Points</p>

    <h2>Your purchases: </h2>
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Amount</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var item in @Model.Purchases){
    <tr>
      <th scope="row">@item.PurchaseId</th>
      <td>@item.Product.Name</td>
      <td>@item.Quantity</td>
      <td>@item.Total</td>
    </tr>
    }
  </tbody>
</table>

    
    </div>
</body>
</html>