@model Association

@{
    var Product = ViewBag.product;
}
@{
    var Categories = ViewBag.Categories;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>

<body>
    <div class="text-center">
        <h2>@Product.Name</h2>

        <div class="d-flex">
            <div class="col-6">
                <h4>Categories</h4>
                @foreach (var item in @Product.AllAssociations)
                {
                    <div class="d-flex justify-content-around">
                        <div class="col-6">
                    <p class="text-primary">@item.category.Name</p>
                    </div>
                    <form asp-action="DestroyAssocP" method="post" asp-route-id = "@Product.ProductId">
                        <input type="hidden" value="@item.category.CategoryId" asp-for="@Model.CategoryId">
                        <input type="hidden" value="@Product.ProductId" asp-for="@Model.ProductId">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                    </div>
                }
            </div>
            <div class="col-5">
                <h4 class="mb-3">Add Category</h4>
                <form method="post" asp-action="AddProductCategory" asp-route-id="@Product.ProductId">
                    <select class="form-control" asp-for="CategoryId">
                        @foreach (var item in Categories)
                        {
                            <option value="@item.CategoryId">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                    <input type="submit" class="btn btn-success mt-3" value="Add Category">
                </form>
            </div>
        </div>
    </div>
</body>

</html>